<h1 id="home-title"> welcome to guildHouse! </h1>

<% if logged_in? %>
	<div id="suggestions">
		<p> <%= link_to "Start a new game", "/games/new", id: "button" %> </p>
		<p> <%= link_to "Join a game somebody else started", "/games", id: "button" %> </p>
	</div>
<% else %>	
	<p> why not 
		<%= link_to "sign up", '/signup', id: "signup-button" %>
		or 
		<%= link_to "log on", '/login' %>
		? </p>
<% end %>
