<h1> guildHouse milestones </h1>
<p><li class="green"> users can sign up √ </li></p>

<p><li class="green"> users can log in and out √ </li></p>

<p><li class="green"> users can create characters √ </li></p>

<p> <li class="green"> users can create monsters √ </li> </p>

<p><li class="green"> users can start games √ </li></p>

<p><li class="green"> users can join games with a character √† </li></p>

<p> <li class="grey"> users can add their monsters to games 
	that they've started </li> </p>

<p><li class="green"> characters have a class, a race, a set of abilities/mods
and a full set of skills √</li></p>

<p> <li class="grey"> characters can have magic </li> </p>

<p> <li class="grey"> characters can have items/armor/weapons </li> </p>

<p> <li class="grey"> characters can have animal companions </li> </p>

<p><li class="green"> upon creation characters update their ability-mods  and skills automaticly based on racial modifiers and class-skills √</li></p>

<p><li class="green"> characters can edit the game body with inert statements √ </li></p>

<p><li class="green"> DMs can play their games via that games monsters √ </li></p>

<p> <li class="green"> games have a turn system based on initiative
	(activated for battles by gamemaster) √ </li> </p>

<p><li class="green"> when playing, users have access to buttons
 for making game statements that perform actions 
 (attack x monster, roll_d20, skill checks, ect) √†† </li></p>

<p> <li class="grey"> guildHouse gets ANY kind of front-end  attention</li> </p>


<p> † users can currently join games, but they can join the same game multiple times and 
	with multiple characters which is a problem </p>

