<h2> games </h2>
<div id='sub-container'>
	<ul id='super-list'>
		<li id="your-games-menu">
		    games you run
		    <ul id="sub-things">
		      <li id="new"><%= link_to "start a new game", "/games/new" %></li>     
		      <% @your_games.each do |game| %>
				<% @owner = User.find(game.gamemaster_id) %>
		        <li>
					<%= link_to "#{ @owner.email}'s game", new_game_statement_path(game) %>
		        </li>
		      <% end %>
		    </ul>
	  </li>

	  <li id="games-you-play-menu">
		    games you're playing
		    <ul id="sub-things">
		      <li id="new"><%= link_to "request to join a game (not running yet)", games_path %></li>     
				<% @games_you_play.each do |game| %>
					<% @owner = User.find(game.gamemaster_id) %>
		        <li>
				<%= link_to "#{ @owner.email}'s game", new_game_statement_path(game) %>
		        </li>
		      <% end %>
		    </ul>
	  </li>
	</ul>
</div>