<header id="game-form-title" >Just give your new game a name</header>

<div class="form-container">
	<%= form_for @game, :html => {:class => 'form'} do |f| %>
		<p>
 			<%= f.text_field(:name) %>
 		</p>
		<p id="submit-button">
		  <%= f.submit %>
		</p>
	<% end %>
</div>
