
<p> <%= link_to "new character", character_creator_path%> </p>

<% if logged_in? %>
		<h1> your characters </h1>
	<ul class="characters">  
			<% @characters.each do |character| %>
   			<li>
		    	<%= link_to "#{character.race} #{character.character_class}", character %>
	    	</li>
  		<% end %>
	</ul>
<% end %>


