// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.game_body{
	margin-left: 5%;
	margin-top: 5%;
	outline: solid;
	 height: 600px;
    width: 800px;
	overflow: scroll;
}