.header{
	width: 101%;
    height: 30px;
    background-color: #36383B;
    margin: 0px 0px 0px -10px;
}

.header ul{
	background-color: red;
	text-align: center;
    display: block;
    list-style-type: none;
    margin: 0;
    padding-right: 10px;

}
.header ul li {
    float: left;
    display: list-item;
    position: relative;
  	padding: 6px;
  	margin: 0px;
}
#tab{
	color: #fff;
	background-color: #36383B;
	text-align: bottom;
	display: block;
  margin: -6px;
  padding: 6px 16px 6px 20px;     
}

#tab:hover{
  background-color: #555;  
}

#footer, #footer-background{
  display: block;
  color: white;
  position: absolute;
  bottom: 0;
    left: 0;
  height: 45px;
  width: 100%;
  text-align: center;
  padding: 20px; 
  margin-bottom: 0; 
  
}
#footer a{
  color: white;
}

#footer-background{
  background-color: #36383B;
  z-index: -1;
  opacity: .9;
}

