// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.green{
	background-color: #AFFB83
}
.grey{
	background-color: #D7D7D7
}
#home-title{
	text-align: center;
	font-family: Georgia;
	font-size: 400%;
}
#suggestions{
	text-align: center;
	font-family: Georgia;
	font-size: 120%;
	margin: 30px;
	background-color: red;
	
}

#button{
	background-color: #1f69d0;
  	color: #ffffff;
  	padding: 10px;
  	border-radius: 10px;

}