<div id="footer">
 
	<%= link_to "milestones page", '/milestones', class: "thing" %> |

	<%= link_to "guildHouse on gitHub", 'https://github.com/kjsuarez/guildHouse' %> |

	<%= link_to "bug report", 'https://github.com/kjsuarez/guildHouse/issues' %> |

	<%= link_to "about the developer", 'http://kjsuarez.github.io/' %> 

</div>
<div id="footer-background"></div>